body {
    background-color: white;
}

.story {
    width: 100%;
    border-radius: 10px;
    margin-top: .2em;
    margin-bottom: .2em;
}


.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    margin-top: 1.2rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

ul, li {
    margin: 0; padding: 0;
}

#name {
    max-width: 100%;
    margin-bottom: -1em;
}



